<?xml version="1.0"?>
<configuration>
	
	<appSettings>

		<add key="DynamicDnsUpdaterClientTypeId" value="1" />
		<add key="HostnamesToUpdate" value=""/>
		<add key="EncryptionEnabled" value="true" />

		<add key="DnsOMaticUsername" value=""/>
		<add key="DnsOMaticPassword" value=""/>
		
		<add key="AwsAccessKeyId" value=""/>
		<add key="AwsSecretAccessKey" value=""/>
		
		<add key="DnsimpleUsername" value="" />
		<add key="DnsimplePassword" value="" />
	</appSettings>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
