<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DynamicDnsUpdaterClientTypeId" value="1" />
    <add key="HostnamesToUpdate" value="" />
    <add key="EncryptionEnabled" value="true" />
    <add key="DnsOMaticUsername" value="" />
    <add key="DnsOMaticPassword" value="" />
    <add key="AwsAccessKeyId" value="" />
    <add key="AwsSecretAccessKey" value="" />
    <add key="DnsimpleUsername" value="" />
    <add key="DnsimplePassword" value="" />
    <add key="UpdateIntervalInMinutes" value="5" />
    <add key="DnsimpleApiToken" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>