<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="logdirectory" value="logs" xsi:type="NLogVariable" />
	<targets>
		<target xsi:type="File" name="LogFile" fileName="${logdirectory}\${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${callsite} ${message}" archiveEvery="Day" archiveNumbering="Sequence" archiveFileName="${logdirectory}\${shortdate}.{####}.log" archiveAboveSize="10240000" keepFileOpen="false" />
		<target xsi:type="Trace" name="Trace" layout="${longdate} ${uppercase:${level}} ${callsite} ${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Error" writeTo="LogFile" />
		<logger name="*" minlevel="Info" writeTo="Trace" />
	</rules>
</nlog>