<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:wix="http://schemas.microsoft.com/wix/2006/wi" xmlns:my="my:my">
    <Fragment>
        <ComponentGroup Id="BespokeDynamicDnsUpdaterWindowsServiceGroup">
            <Component Id="BespokeDynamicDnsUpdaterWindowsService" Directory="INSTALLDIR" Guid="bc52be8f-af0c-4512-bf2b-527794daf3d8" SharedDllRefCount="no" KeyPath="no" NeverOverwrite="no" Permanent="no" Transitive="no" Win64="no" Location="either" Feature="DefaultFeature">
                <File Id="BespokeDynamicDnsUpdaterWindowsServiceExeFile" Name="Bespoke.DynamicDnsUpdater.WindowsService.exe" Source="C:\Repos\BespokeDynamicDnsUpdater\Source\Bespoke.DynamicDnsUpdater.WindowsService\bin\Debug\Bespoke.DynamicDnsUpdater.WindowsService.exe" ReadOnly="no" Compressed="yes" KeyPath="yes" Vital="yes" Hidden="no" System="no" Checksum="no" />
                <ServiceInstall Id="BespokeDynamicDnsUpdaterWindowsServiceInstaller" DisplayName="Bespoke Dynamic DNS Updater Service" Name="BespokeDynamicDnsUpdaterService" Description="An Open Source DNS-O-Matic Client that runs on a specified interval and updates dynamic DNS hostnames if necessary." ErrorControl="normal" Start="auto" Type="ownProcess" Vital="yes" />
                <ServiceControl Id="BespokeDynamicDnsUpdaterWindowsServiceControl" Name="BespokeDynamicDnsUpdaterService" Stop="uninstall" Remove="uninstall" />
                <File Id="fil48148E16382ACCC6634615B8A1DAF558" KeyPath="no" Source="C:\Repos\BespokeDynamicDnsUpdater\Source\Bespoke.DynamicDnsUpdater.WindowsService\bin\Debug\AWSSDK.dll" />
                <File Id="fil1449C4DEA46C95219C2010921C1A95B7" KeyPath="no" Source="C:\Repos\BespokeDynamicDnsUpdater\Source\Bespoke.DynamicDnsUpdater.WindowsService\bin\Debug\Bespoke.DynamicDnsUpdater.Client.dll" />
                <File Id="filD6EF3168E9A8CBD5BAC8FC5638577217" KeyPath="no" Source="C:\Repos\BespokeDynamicDnsUpdater\Source\Bespoke.DynamicDnsUpdater.WindowsService\bin\Debug\Bespoke.DynamicDnsUpdater.Common.dll" />
                <File Id="filBB760BED047C6FE2E9925769E19EDEC7" KeyPath="no" Source="C:\Repos\BespokeDynamicDnsUpdater\Source\Bespoke.DynamicDnsUpdater.WindowsService\bin\Debug\Bespoke.DynamicDnsUpdater.WindowsService.exe.config" />
                <File Id="fil742AB74CB0D0C3F5BB98F2D1CB0D5543" KeyPath="no" Source="C:\Repos\BespokeDynamicDnsUpdater\Source\Bespoke.DynamicDnsUpdater.WindowsService\bin\Debug\DNSimple.Api.dll" />
                <File Id="filE79C96A9CB7B4EE31D306EAD8A8E74B9" KeyPath="no" Source="C:\Repos\BespokeDynamicDnsUpdater\Source\Bespoke.DynamicDnsUpdater.WindowsService\bin\Debug\JsonFx.dll" />
                <File Id="fil820B83F773926D897EB844E033EF7AF6" KeyPath="no" Source="C:\Repos\BespokeDynamicDnsUpdater\Source\Bespoke.DynamicDnsUpdater.WindowsService\bin\Debug\JsonFx.xml" />
                <File Id="fil1E15B579C406041E9F5C28C3495E4B86" KeyPath="no" Source="C:\Repos\BespokeDynamicDnsUpdater\Source\Bespoke.DynamicDnsUpdater.WindowsService\bin\Debug\Newtonsoft.Json.dll" />
                <File Id="fil94872C7838E7CF9D4E51F843F7864DF1" KeyPath="no" Source="C:\Repos\BespokeDynamicDnsUpdater\Source\Bespoke.DynamicDnsUpdater.WindowsService\bin\Debug\Newtonsoft.Json.xml" />
                <File Id="fil9D281B12F25B08901843638F37880992" KeyPath="no" Source="C:\Repos\BespokeDynamicDnsUpdater\Source\Bespoke.DynamicDnsUpdater.WindowsService\bin\Debug\NLog.config" />
                <File Id="fil3D4358D187B7B80C8DF643DBAC4C0C97" KeyPath="no" Source="C:\Repos\BespokeDynamicDnsUpdater\Source\Bespoke.DynamicDnsUpdater.WindowsService\bin\Debug\NLog.dll" />
                <File Id="filA3F8168D604413B03C7FD266112FDEF7" KeyPath="no" Source="C:\Repos\BespokeDynamicDnsUpdater\Source\Bespoke.DynamicDnsUpdater.WindowsService\bin\Debug\NLog.xml" />
                <File Id="fil9C28DEF12CD55DD3C689316D8E89D84F" KeyPath="no" Source="C:\Repos\BespokeDynamicDnsUpdater\Source\Bespoke.DynamicDnsUpdater.WindowsService\bin\Debug\RestSharp.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>