<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ExpectedPublicIpAddress" value="174.51.127.8" />
		<add key="DnsOMaticUsername" value="test"/>
		<add key="DnsOMaticPassword" value="test"/>
		<add key="HostnamesToUpdate" value="test"/>
		<add key="AwsAccessKeyId" value="test"/>
		<add key="AwsSecretAccessKey" value="test"/>
		<add key="DynamicDnsUpdaterClientTypeId" value="1" />
	</appSettings>
</configuration>